<div class="relevant-info">
    <div class="heading-article">
        <a class="texta">Актуально</a><br>
    </div>
    <a class="textb linktext" href="/info/">
        <div class="link-article"><text> Основной раздел </text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>

    <a class="textb linktext" href="/info/donate">
        <div class="link-article"><text> Донат</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/report">
        <div class="link-article"><text> Жалобы на игрока/персонал </text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>

    <a class="textb linktext" href="/404">
        <div class="link-article"><text> Список персонала </text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>

    <a class="textb linktext" href="/info/role">
        <div class="link-article"><text> Правила проекта   </text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>

    <a class="textb linktext" href="/info/contacts">
        <div class="link-article"><text> Контакты </text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>


    <a class="textb linktext" href="/info/launcherhelper">
        <div class="link-article"><text> Запуск Лаунчера</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
</div>

<div class="project-servers">
    <div class="heading-article">
        <a class="texta">Сервера</a><br>
    </div>
    <a class="textb linktext" href="/info/servers/minigames">
        <div class="link-article"><text> MiniGames</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/servers/divinepvp">
        <div class="link-article"><text> DivinePVP</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/servers/skyvoid">
        <div class="link-article"><text> SkyVoid</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/servers/magica">
        <div class="link-article"><text> Magica</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/servers/neotech">
        <div class="link-article"><text> NeoTech</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/servers/technomagic">
        <div class="link-article"><text> TechnoMagic</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/servers/galax">
        <div class="link-article"><text> Galax</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/servers/pixelmon">
        <div class="link-article"><text> Pixelmon</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/servers/rpgparfeon">
        <div class="link-article"><text> RPGParfeon</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
</div>

<div class="project-servers fix-botton">
    <div class="heading-article">
        <a class="texta">Мини игры</a><br>
    </div>
    <a class="textb linktext" href="/info/minigames/2b2t">
        <div class="link-article"><text> 2B2T</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/annihilation">
        <div class="link-article"><text> Annihilation</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/Анархия">
        <div class="link-article"><text> Анархия</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/antwars">
        <div class="link-article"><text> AntWars</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/buildbattle">
        <div class="link-article"><text> BuildBattle</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/Бинго">
        <div class="link-article"><text> Бинго</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/blockparty">
        <div class="link-article"><text> BlockParty</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/brawlstars">
        <div class="link-article"><text> BrawlStars</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/bedwars">
        <div class="link-article"><text> BedWars</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/colorcontrol">
        <div class="link-article"><text> ColorControl</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/creative">
        <div class="link-article"><text> Creative</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/Симуляторы">
        <div class="link-article"><text> Симуляторы</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/Сплиф">
        <div class="link-article"><text> Сплиф</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/gtm">
        <div class="link-article"><text> GTM</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/gungame">
        <div class="link-article"><text> GunGame</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/Скотобойня">
        <div class="link-article"><text> Скотобойня</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/jedicraft">
        <div class="link-article"><text> JediCraft</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/jedicraftnewgen">
        <div class="link-article"><text> JediCraft New Gen</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/Лимбо">
        <div class="link-article"><text> Лимбо</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/prisonclassic">
        <div class="link-article"><text> Prison Classic</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/ВыживаниевРоссии">
        <div class="link-article"><text> Выживание в России</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}</div>
    </a>
    <a class="textb linktext" href="/info/minigames/skyblock">
        <div class="link-article"><text> SkyBlock</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/skygrid">
        <div class="link-article"><text> SkyGrid</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/skywars">
        <div class="link-article"><text> SkyWars</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/zombiemod">
        <div class="link-article"><text> ZombieMod</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/Музей">
        <div class="link-article"><text> Музей</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/amongus">
        <div class="link-article"><text> Among Us</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/tom&jerry">
        <div class="link-article"><text> Tom & Jerry</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
    <a class="textb linktext" href="/info/minigames/customstevechaos">
        <div class="link-article"><text> Custom Steve Chaos</text>{% if theme == "light" %}
            <img class="blink-article" src="/content/images/nav/light/blink.svg"> {% else %}
            <img class="blink-article" src="/content/images/nav/blink.svg"> {% endif %}
        </div>
    </a>
</div>