<div class="recaptcha">
    <div class="block-recaptcha">
        <img class="recaptcha-icon" src="/content/images/icons/recaptcha.svg">
        <div class="recaptcha-text"><a>Защита от спама reCAPTCHA</a>
            <a class="linktext" href="https://policies.google.com/privacy?hl=ru">Конфиденциальность</a></br>
            <a class="linktext" href="https://policies.google.com/terms?hl=ru">Условия использования</a>
        </div>
    </div>
</div>