<div id="operators-unitpay" class="block-operators block-operators-vanish">

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/qiwi.png">
        <a class="text-operators textc">QIWI</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/yoomoney.png">
        <a class="text-operators textc">ЮMANEY</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/visa.png">
        <a class="text-operators textc">VISA</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mastercard.png">
        <a class="text-operators textc">mastercard</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mir.png">
        <a class="text-operators textc">МИР</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/megaphone.png">
        <a class="text-operators textc">Мегафон</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/beeline.png">
        <a class="text-operators textc">Билайн</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/tele2.png">
        <a class="text-operators textc">Tele2</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mts.png">
        <a class="text-operators textc">МТС</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/samsungpay.png">
        <a class="text-operators textc">Samsung pay</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/applepay.png">
        <a class="text-operators textc">Apple pay</a>
    </div>


</div>