{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Жалобы">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/info">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Жалобы<br>
			<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">

        <div class="text-article">

            <a class="texta">Жалобы на игрока/персонал</a><br>
            <a class="textb">
                Во время игры на наших серверах вы могли встретить<br> недобросовестных игроков, нарушающих правила проекта. <br>Чтобы не оставить их безнаказанными, мы создали <br>специальные разделы, где каждый сможет подать жалобу на нарушителя. <br><br>

Если вы хотите подать жалобу на игрока сервера MiniGames, <br>проследуйте по этой ссылке: форум мг жалобы на игроков <br><br>

Чтобы подать жалобу на игрока модовых серверов, <br>проследуйте по этой ссылке: форум жалобы на игроков <br>модовые <br><br>

Порой, даже персонал проекта может нарушать правила, по <br>которым он же мог наказать и вас. Для борьбы с <br>недобросовестным персоналом, последуйте по <br>следующим ссылкам: <br><br>
            
            <a class="textc linktext">Жалоба на персонал MiniGames</a> <br>
            <a class="textc linktext">Жалоба на персонал Модовых серверов</a>
            </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}