{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Пользовательское соглашение">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/info">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Пользовательское соглашение<br>
			<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">

        <div class="text-article">

            <a class="texta">Пользовательское соглашение от 05 марта 2021</a><br>
            <a class="textc">cristalix.ru ("Cristalix" или "Сервис"), состоит из веб-сайта Cristalix, www.cristalix.ru и поддомены, и предлагает игры без каких-либо ограничений. Cristalix и ее дочерние сервисы (далее совместно именуемые "Cristalix") частично или полностью принадлежат Cristalix.</a>
            <br><br>

            <a class="texta"> 1. УСЛОВИЯ СОГЛАШЕНИЯ</a><br>
            <a class="textb"> Перед тем как начать играть в одну из игр сервиса, пользователь обязан ознакомиться с настоящим Соглашением, а также со всеми применимыми к игре правилами (в том числе — Правила Игры и Правила Форума).</a>
            <br><br>

            <a class="texta"> 2. ПРЕДМЕТ СОГЛАШЕНИЯ</a><br>
            <a class="textb"> Cristalix обеспечивает пользователю, зарегистрированному в системе Cristalix, доступ к сервисам. Все условия взаимодействия Cristalix с пользователем разъяснены в данном Соглашении. Администрация сервиса Cristalix в любой момент имеет право внести изменения в Пользовательское Соглашение, о которых администрация Cristalix обязуется оповестить пользователя, разместив обновленный вариант Соглашения на сайте cristalix.ru. Все изменения вступают в силу сразу после публикации на сайте cristalix.ru. Пользователь имеет право не принимать внесенные изменения - в таком случае администрация ограничивает доступ пользователя к сервису.</a>
            <br><br>

            <a class="texta"> 3. ПРЕДОСТАВЛЯЕМЫЕ УСЛУГИ</a><br>
            <a class="textb">Cristalix предоставляет пользователю доступ к сервисам Cristalix. При этом пользователь осознает, что ответственность за задержки, сбои, доступ посторонних лиц к персональной пользовательской информации и т.д., лежит непосредственно на сервисе. Пользователь должен понимать, что некоторые сервисы могут содержать информацию, предназначенную для детей старше 16 лет. Администрация Cristalix не несет ответственности за обеспечение Пользователю доступа в сеть Интернет и за решение связанных с этим технических вопросов.</a><br><br>
            <a class="textb"> Cristalix обеспечивает доступ к платным услугам, однако не принуждает пользователя использовать их. Пользователь добровольно вносит средства для оплаты услуг, в следствии чего возврат средств невозможен, так как пользователь добровольно внес средства для оплаты услуги. </a>
            <br><br>

            <a class="texta"> 4. ПОВЕДЕНИЕ ЗАРЕГИСТРИРОВАННОГО ПОЛЬЗОВАТЕЛЯ</a><br>
            <a class="textb"> При использовании сервиса Cristalix, пользователь самостоятельно несет полную ответственность за сохранность данных аккаунта, сервисом Cristalix обеспечивается сохранность данных согласно п.7 данного Пользовательского Соглашения. Администрация Cristalix не несет никакой ответственности за достоверность, полит корректность и качество информации, размещенной на сервисе Cristalix и официальных сообществах на других различные сервисах. Пользователь понимает, что некоторые из размещенных в сервисах материалов могут оскорбить его религиозные, моральные взгляды. При этом Cristalix оставляет за собой право блокировать подозрительный аккаунт и отказ в доступе ее владельцу, вплоть до предоставления достаточных доказательств его невиновности. После чего аккаунт может быть разблокирован. </a>
            <br><br>

            <a class="texta"> - При работе с сервисами пользователю запрещается:</a><br>
            <a class="textb"> 1. распространение и хранение информации, являющейся незаконной, носящей оскорбительный характер, не полит корректной, а также личной информации других пользователей, в том числе отправка оскорбительных писем другим пользователям системы; </a><br>
            <a class="textb"> 2. нарушение прав несовершеннолетних лиц и/или причинение им любого ущерба; </a><br>
            <a class="textb"> 3. размещение информации рекламного характера;</a><br>
            <a class="textb"> 4. массовая рассылка email-ов рекламного характера - спама;</a><br>
            <a class="textb"> 5. размещение и рассылка вирусов, файлов, программного кода, предназначенного для нарушения функционирования программного обеспечения; </a><br>
            <a class="textb"> 6. осуществление несанкционированного доступа к программным продуктам и сервисам, в том числе получение логинов, паролей и прочих средств для получения несанкционированного доступа к платным сервисам, а также размещение ссылок на вышеуказанную информацию; </a><br>
            <a class="textb"> 7. умышленное нарушение нормального функционирования системы Cristalix, а также любого входящего в него сервиса; </a><br>
            <a class="textb"> 8. ведение любой торговой деятельности, а именно попытки продажи игровых предметов другим пользователям за реальные деньги без разрешения со стороны администрации Cristalix; </a><br>
            <a class="textb"> 9. размещение бессмысленной и/или бесполезной информации в объемах, способных существенно увеличить нагрузку на оборудование сервиса Cristalix. </a><br>
            <a class="textb"> Внимание! Аккаунт пользователя может быть удален при нарушении пользователем любого из вышеперечисленных пунктов Пользовательского Соглашения! </a>
            <br><br>

            <a class="texta"> 5. ПРЕКРАЩЕНИЕ ПРЕДОСТАВЛЕНИЯ УСЛУГ</a><br>
            <a class="textb"> Администрация Cristalix оставляет за собой право прекращения действия аккаунта пользователя при несоблюдении Пользовательского Соглашения, перечисленного в п.4 данного Пользовательского Соглашения. Пользователь понимает, что любой проект сервиса может прекратить функционирование в любой момент, без предварительного уведомления пользователя. Администрация Cristalix не несет ответственности за прекращение доступа к любому из проектов сервиса.</a>
            <br><br>

            <a class="texta"> 6. ОСВОБОЖДЕНИЕ ОТ ГАРАНТИЙ</a><br>
            <a class="textb"> Пользователь использует сервисы по своему усмотрению, и администрация Cristalix не несет ответственности за данное взаимодействие; </a><br>
            <a class="textb"> Администрация Cristalix не гарантирует бесперебойную и качественную работу любого из входящих в систему сервисов (в том числе игры), и также не отвечает за то, соответствует ли предоставляемый сервис ожиданиям Пользователя, в том числе администрация Cristalix не несет ответственности за любые причиненные пользователю убытки, за невозможность своевременно воспользоваться сервисом, и прочие сбои в сервисе. </a>
            <br><br>

            <a class="texta"> 7. ИНФОРМАЦИОННАЯ БЕЗОПАСНОСТЬ</a><br>
            <a class="textb"> Пароли пользователей хранятся в базе данных Cristalix в зашифрованном виде, соответственно. Со стороны Cristalix невозможна передача пользовательских данных третьим лицам. </a><br>
            <a class="textb"> Пользователь самостоятельно отслеживает сохранность своего пароля и его недоступность для третьих лиц. </a><br>
            <a class="textb"> При утере пароля доступа пользователь может получить доступ к своей учетной записи, воспользовавшись сервисом восстановления забытых паролей, либо обратившись по адресу электронной почты help@cristalix.ru. </a>
            <br>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}