{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Сервера - DivinePVP">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block left-block background-divinepvp-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/divinepvp.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/divinepvp.svg" />{% endif %}
            </div>
            <a class="tooltip-left flash-info" href="/info/servers/divinepvp/">
                <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
            </a>
            <div class="server-info">
                <div class="server-info-bottom">
                    <a class="texta"> DivinePVP<br /> </a>
                    <a class="textb">
            Версия: 1.7.10<br />
            PVP: Включено<br />
            Последний вайп: 01.10.20<br />
            Размер основного мира: 10 000 x 10 000
          </a>
                </div>
            </div>
        </div>
        <div class="block right-block background-divinepvp-2">

            <div class="server-mods-list mini-scroll">
                <a class="texta"> Список модификаций:<br /> </a>
                <a>
                    <div class="line-divs textb">Ars Magica 2</div>
                    <div class="line-divs textb">DivineRPG</div>
                    <div class="line-divs textb">Botania</div>
                    <div class="line-divs textb">Better Foliage</div>
                    <div class="line-divs textb">Biomes O'Plenty</div>
                    <div class="line-divs textb">Chisel</div>
                    <div class="line-divs textb">Custom NPCs</div>
                    <div class="line-divs textb">Damage Indicators</div>
                    <div class="line-divs textb">Dragon's Radio</div>
                    <div class="line-divs textb">Fancy Block Particles</div>
                    <div class="line-divs textb">Hardcore Ender Expansion</div>
                    <div class="line-divs textb">Journey Map</div>
                    <div class="line-divs textb">Iron Chest</div>
                    <div class="line-divs textb">Not Enough Items</div>
                    <div class="line-divs textb">Online Picture Frame</div>
                    <div class="line-divs textb">OptiFine</div>
                    <div class="line-divs textb">Storage Drawers</div>
                    <div class="line-divs textb">Waila</div>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}