{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Сервера - MiniGames">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block left-block background-minigames-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/minigames.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/minigames.svg" />{% endif %}
            </div>
            <a class="tooltip-left flash-info" href="/info/servers/minigames/">
                <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
            </a>
            <div class="server-info">
                <div class="server-info-bottom">
                    <a class="texta"> MiniGames<br /> </a>
                    <a class="textb"> Версия: 1.12.2 (внутренняя)<br /> </a>
                </div>
            </div>
        </div>

        <div class="block right-block background-minigames-2">
            <div class="server-mods-list mini-scroll">
                <a class="texta"> Список мини игр:<br/> </a> {% for server in servers %}
                <div class="line-mg-divs textb" onclick="window.open('/info/minigames/{{ server.link }}');">
                    {{ server.name }}
                    <a class=" online-list ">
                        Online:&nbsp; {{ server.online }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}