{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Сервера - Neotech">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block left-block background-neotech-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/neotech.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/neotech.svg" />{% endif %}
            </div>
            <a class="tooltip-left flash-info" href="/info/servers/neotech/">
                <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
            </a>
            <div class="server-info">
                <div class="server-info-bottom">
                    <a class="texta"> NeoTech<br /> </a>
                    <a class="textb">
            Версия: 1.7.10<br />
            PVP: Включено<br />
            Последний вайп: 21.08.20<br />
            Размер основного мира: 10 000 x 10 000<br />
            Размер дополнительных миров: 4 000 x 4 000
          </a>
                </div>
            </div>
        </div>
        <div class="block right-block background-neotech-2">

            <div class=" server-mods-list mini-scroll">
                <a class="texta  "> Список модификаций:<br /> </a>
                <a>

                    <div class="line-divs textb">Draconic Evolution</div>
                    <div class="line-divs textb">Applied Energistics 2</div>
                    <div class="line-divs textb">- AE2 Stuff</div>
                    <div class="line-divs textb">- Extra Cells 2</div>
                    <div class="line-divs textb">Forestry</div>
                    <div class="line-divs textb">-Botany</div>
                    <div class="line-divs textb">- Extra Bees</div>
                    <div class="line-divs textb">- Extra Trees</div>
                    <div class="line-divs textb">- Genetics</div>
                    <div class="line-divs textb">Immersive Engineering</div>
                    <div class="line-divs textb">- Immersive Integration</div>
                    <div class="line-divs textb">Industrial Craft 2</div>
                    <div class="line-divs textb">- Advanced Machines</div>
                    <div class="line-divs textb">- Advanced Solar Panels</div>
                    <div class="line-divs textb">- AFSU</div>
                    <div class="line-divs textb">- GraviSuite</div>
                    <div class="line-divs textb">- Nuclear Control</div>
                    <div class="line-divs textb">- Power Utils</div>
                    <div class="line-divs textb">OpenComputers</div>
                    <div class="line-divs textb">- Computronics</div>
                    <div class="line-divs textb">- OpenPeripheral</div>
                    <div class="line-divs textb">- OpenSecurity</div>
                    <div class="line-divs textb">- OpenGlasses</div>
                    <div class="line-divs textb">Tinkers Construct</div>
                    <div class="line-divs textb">- ExtraTiC</div>
                    <div class="line-divs textb">- Iguana Tinker Tweaks</div>
                    <div class="line-divs textb">- TiC Tooltips</div>
                    <div class="line-divs textb">ProjectRed Base</div>
                    <div class="line-divs textb">- ProjectRed Compat</div>
                    <div class="line-divs textb">- ProjectRed Fabrication</div>
                    <div class="line-divs textb">- ProjectRed Integration</div>
                    <div class="line-divs textb">- ProjectRed World</div>
                    <div class="line-divs textb">Redstone Arsenal</div>
                    <div class="line-divs textb">- Simply Jetpacks</div>
                    <div class="line-divs textb">Better Foliage</div>
                    <div class="line-divs textb">Biomes O'Plenty</div>
                    <div class="line-divs textb">Build Craft</div>
                    <div class="line-divs textb">Carpenter's Blocks</div>
                    <div class="line-divs textb">Chisel</div>
                    <div class="line-divs textb">Custom NPCs</div>
                    <div class="line-divs textb">Dragon's Radio</div>
                    <div class="line-divs textb">Fancy Block Particles</div>
                    <div class="line-divs textb">Journey Map</div>
                    <div class="line-divs textb">EnderIO</div>
                    <div class="line-divs textb">Extra Utilities</div>
                    <div class="line-divs textb">Iron Chest</div>
                    <div class="line-divs textb">Matter Overdrive</div>
                    <div class="line-divs textb">Mekanism</div>
                    <div class="line-divs textb">Mine Factory Reloaded</div>
                    <div class="line-divs textb">Not Enough Items</div>
                    <div class="line-divs textb">Online Picture Frame</div>
                    <div class="line-divs textb">Open Blocks</div>
                    <div class="line-divs textb">Open Modular Turrets</div>
                    <div class="line-divs textb">OptiFine</div>
                    <div class="line-divs textb">Thermal Dynamics</div>
                    <div class="line-divs textb">Thermal Expansion</div>
                    <div class="line-divs textb">Thermal Foundation</div>
                    <div class="line-divs textb">Waila</div>
                    <div class="line-divs textb">Wireless Redstone CBE</div>
                    <div class="line-divs textb">Ztones</div>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}