{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Сервера - RPG Parfeon">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block left-block background-rpgparfeon-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/rpgparfeon.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/rpgparfeon.svg" />{% endif %}
            </div>
            <a class="tooltip-left flash-info" href="/info/servers/rpgparfeon/">
                <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
            </a>
            <div class="server-info">
                <div class="server-info-bottom">
                    <a class="texta"> RPG Parfeon<br /> </a>
                    <a class="textb">
            Версия: 1.12.2<br />
            PVP: Есть<br />
          </a>
                </div>
            </div>
        </div>
        <div class="block right-block background-rpgparfeon-2">

            <div class="server-mods-list mini-scroll">
                <a class="texta  "> Список модификаций:<br /> </a>
                <a>
                    <div class="line-divs textb">
                        мод
                        <a class="online-list">
                            <span class="linktext"> подробнее </span>
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}