{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="BedWars">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/bedwars">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">BedWars<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Только не смей заснуть! </a> <br>
            <a class="textb"> Битвы с кроватями? Да, несомненно. Даже нечего добавить – просто не дай своему
					противнику проснуться! Сбрось врагов в бездну, защити свою базу и ликвидируй чужие кровати! </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}