{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Custom steve chaos">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/customstevechaos">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Custom steve chaos<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Выбирай лучшие предметы! </a> <br>
            <a class="textb"> 

                
            Сражайся с мобами и игроками, получай рандомные предметы и прокачивай их, чтобы быстро убивать мобов и побеждать в дуэлях против игроков!

            </br> </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}