{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="GTM">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/gtm">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">GTM<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">

        <div class="text-article">

            <a class="texta"> Гетто из блоков. </a> <br>
            <a class="textb"> Преступность, стрельба, блоки! Режим, вдохновлённый легендарной серией ГТА. </br>
					Вступи в преступную банду, захватывай вместе со своими напарниками целые районы огромного города,
					веди перестрелки с врагами и доминируй. </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}