{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="SkyWars">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/skywars">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">SkyWars<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Захвати центр! </a> <br>
            <a class="textb"> Тактическая игра в духе голодных игр. Но есть одно но – вам негде прятаться. Ты
					появляешься вместе с десятком игроков на своих личных небесных островах вокруг главного центра с
					полезными предметами, которые помогут тебе одержать победу. Доберись до него и будь готов к битве,
					ведь условие одно – в живых должен остаться кто-то один. </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}