{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Bingo">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/bingo">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Бинго<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Многозадачность или ничего! </a> <br>
            <a class="textb">Пять в ряд! Ты появляешься в открытом мире, и должен собрать предметы, что указаны в инструкции раунда.</br>
                Но учти, тебе следует поторопиться, ведь соперники не дремлют!</br>
                Добывай, крафти, покажи мастерство и знания об игре.</br>
            </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}