{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Скотобойня">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/skotoboinay">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Скотобойня<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Твоя мясная лавка. </a> <br>
            <a class="textb"> Добро пожаловать на один из новейших режимов на Cristalix MiniGames. Тут вам предстоит
					охотиться на дикий скот, чтобы разблокировать новую экипировку и локации. Чем выше ваш уровень – тем
					больше вы встретите препятствий. Одно из них – сами игроки! В конце концов вам придётся постоять за
					своё место в лучших игроках этого режима. </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}