{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Сплиф">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/Сплиф">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Сплиф<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Всё летит прямо из под ног! </a> <br>
            <a class="textb"> Небольшая снежная арена, множество игроков и по лопате у каждого из вас! Классический
					режим «сбрось или будь сброшен», в котором тебе предстоит показать своё мастерство паркура, и
					ликвидировать с арены всех соперников, ломая под ними блоки. </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}