{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="DivinePVP">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/divinepvp">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">DivinePVP<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> С друзьями веселее!  </a> <br>
            <a class="textb"> Утаившийся от всех, данный сервер привлёк к себе самых выносливых и рисковых игроков.
                Тут даже самая обычная прогулка по летней тропе может обернуться встречей с невозможным монстром.
                <br>
                Чтобы не умереть, тебе предстоит углубиться в пещеры и открыть для себя проход в новые измерения, с
                уникальными существами и ландшафтами. <br>			</div>
			<div class="column-info ux-pc">{{ include('column.html') }} </div>
			<div class="column-info ux-m">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}