{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Magica">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property=" og:image " content="//cristalix.ruimages/title/info.png ">
<meta itemprop="image " content="//cristalix.ruimages/title/info.png ">
<meta name="twitter:image " content="//cristalix.ruimages/title/info.png ">
<meta name="twitter:card ">{% endblock %}{% block content %}
<div class="content-block-opis ">
    <div class="img-article background-info " src="/content/images/img/sp.png ">
        <dev class="img-article-heading "><a class="img-article-text ">Magica
            <br>
				<a class="img-article-rider "></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid ">


        <div class="text-article ">

            <a class="texta ">  Добро пожаловать в Хогвартс. </a> <br>
            <a class="textb "> На данном сервере тебе предстоит погрузиться вглубь древних исследований, покрытых
                мистическими тайнами. Проще говоря, это обитель энтузиастов магов и алхимиков, битвы между которыми
                стали совсем привычным делом. <br>
                Погрузись в загадочный мир магии, и будь готов к смертельным испытаниям на своём пути! <br>

			</div>
			<div class="column-info ux-pc ">{{ include('column.html') }} </div>
			<div class="column-info ux-m ">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}