{% extends "base.html" %} {% block title %}Регистрация - {% endblock %} {% block og %}
<meta property="og:title" content="Регистрация">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/register">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/register.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/register.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/register.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<div class="single-row">
    <div class="block background-register">
        <div class="centered-text">
            <a class="textb linktext reglog-link" href="/cabinet/login">
        Вход
      </a>
            <span class="textb" style="color: var(--white);">|</span>
            <span class="textb reglog-link" style="color: var(--placeholder);">
        Регистрация
      </span>
        </div>
        <form>
            <input autofocus="" class="reg-padding login-register inputy" id="username-input" name="username" placeholder="Никнейм" required="" type="text" value="" />

            <div class="tooltip-red-left flash-error" id="username-error-block">
                <element width="150px;">
                    <div id="username-error" class="tooltip-text-cntr"></div>
                </element>
            </div>

            <input class="reg-padding email-register inputy" id="email-input" name="email" placeholder="E-Mail" required="" type="text" value="" />

            <div class="tooltip-red-left flash-error" id="email-error-block">
                <element width="150px;">
                    <div id="email-error" class="tooltip-text-cntr"></div>
                </element>
            </div>

            <input class="reg-padding password-register inputy" id="password-input" name="password" placeholder="Пароль" required="" type="password" />

            <div class="tooltip-red-left flash-error tooltip-two-lines" id="password-error-block">
                <element width="150px;">
                    <div id="password-error" class="tooltip-text-cntr"></div>
                </element>
            </div>

            <input class="reg-padding repeat-password-register inputy" id="repeat-password-input" name="repeat-password" placeholder="Повтор пароля" required="" type="password" />

            <div class="tooltip-red-left flash-error" id="repeat-password-error-block">
                <element width="150px;">
                    <div id="repeat-password-error" class="tooltip-text-cntr"></div>
                </element>
            </div>

            <input autofocus="" class="reg-padding minecraft-register inputy" id="mojang-username-input" name="username" placeholder="Скин по нику Minecraft.net (необязательно)" required="" type="text" value="" />

            <a class="tooltip-red-left flash-error" id="mojang-username-error-block">
                <element width="150px;">
                    <div id="mojang-username-error" class="tooltip-text-cntr"></div>
                </element>
            </a>


            <div class="array-links">

                <a target="_blink" href="/info/terms" class="textc linktext">
                    Пользовательское соглашение
                </a><br>

                <a target="_blink" href="/info/policy" class="textc linktext">
                    Политика конфиденциальности
                </a><br>

                <a target="_blink" href="/info/role" class="textc linktext">
                    Правила проекта
                </a><br>

            </div>


            <div class="rules-read-register options-elm">
                <label>
            <input type="checkbox" class="option-input checkbox" id="agreed-input" />
            <a class="textc text-chek">Я согласен(-на) с положениями Пользовательского <br> соглашения и правилами проекта.</a>
          </label>
            </div>

            <button class="HOVER register-button" id="register-button" type="submit" disabled>
                <span> </span>
                <text class="textb">
            Зарегистрироваться
          </text>
            </button>
        </form>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6Ld6jWcaAAAAAArgu8eF5Dlltmc4IQkoXW7m6dJD"></script>
<script type="text/javascript" src="/content/js/register.js"></script>
<script type="text/javascript" src="/content/js/tray.js"></script>
{{ include('recaptcha.html') }} {% endblock %}