{% extends "base.html" %} {% block title %}ЛК - {% endblock %} {% block og %}
<meta property="og:title" content="ЛК">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/cabinet">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<div id="modal-frame" class="re-frame2">
    <!-- История активности
    <div id="change-session-modal" class="vanish re-bg">
        <div class="block-session">

            <div class="list-session mini-scroll">
                <div class="line-session">
                    <div class="content-lining content-session-way">
                        <text class="textb">Лаунчер</text>
                    </div>
                    <div class="content-lining content-session-ip">
                        <text class="textb">255.255.255.255</text>
                    </div>
                    <div class="content-lining content-session-date">
                        <text class="textb">31.12.2021</text>
                    </div>
                </div>

                <div class="line-session">
                    <div class="content-lining content-session-way">
                        <text class="textb">Вебсайт</text>
                    </div>
                    <div class="content-lining content-session-ip">
                        <text class="textb">255.255.255.255</text>
                    </div>
                    <div class="content-lining content-session-date">
                        <text class="textb">31.12.2021</text>
                    </div>
                </div>
            </div>

            <button onclick="" class="HOVER re-enter"><span></span>
                <text class="textb">Завершить все сеансы</text>
            </button>
            <button id="close-change-session-modal-button" class="HOVER re-enter-next delete_re"><span
                    style=" background:var(--carmine-dark);"></span>
                <text class="textb">Закрыть</text>
            </button>
        </div>
    </div> -->
    <!-- 2FA -->
    <div id="change-2fa-modal" class="vanish re-bg">
        <div class="block-2FA">
            <img id="close-change-2fa-modal" class="delete_re bnt-exit" width="40px" height="40px" src="/content/images/icons/next.svg" />
            <div class="full-block-text"><a class="texta re-head"> Подключение 2FA 
                <br><a class="textb">Скачайте приложение Google Authenticator 
                    <br>в Google Play или App Store, просканируйте  код <br>введите полученный одноразовый код ниже.</a></div>
            <img id="otp-qr-code-image" src="/content/images/img/qr.png" class="qr-code">
            <input id="otp-stage2-code" class="code-2fa inputy" name="text" placeholder="Одноразовый пароль" required="" type="text" />
            <button id="otp-submit" class="HOVER re-enter"><span></span>
                <text class="textb">Подтвердить</text>
            </button>
            <button id="close-change-2fa-modal-button" class="HOVER re-enter-next delete_re"><span
                    style=" background:var(--carmine-dark);"></span>
                <text class="textb">Закрыть</text>
            </button>
        </div>
    </div>
    <!-- Цвет ника -->
    <div id="change-color-modal" class="vanish re-bg">
        <div class="block-re-color">
            <img id="close-change-color-modal" class="delete_re bnt-exit" width="40px" height="40px" src="/content/images/icons/next.svg" />
            <div class="full-block-text"><a class="texta re-head">Сменить цвет ника</a><br><a class="textb">Цвет ника меняется только на MiniGames</a>
            </div>
            <div class="color-picker-block">
                <div class="color-picker-text"> выбрать цвет </div>
                <div class="color-picker-box">
                    <input class="color-picker" id="color-picker-input" type="color" value="{{ user.hex_color }}">
                </div>
            </div>
            <div class="color-picker-example" id="color-picker-example">
                <a style="color: {{ user.hex_color }};" id="color-picker-example-text">
                    ник нейм</br>
                    ник нейм</br>
                    ник нейм</br>
                </a>
            </div>
            <button id="confirm-change-color" class="HOVER re-enter"><span></span>
                <text class="textb">Применить</text>
            </button>
            <button id="close-change-color-modal-button" class="HOVER re-enter-next delete_re"><span
                    style=" background:var(--carmine-dark);"></span>
                <text class="textb">Закрыть</text>
            </button>
        </div>
    </div>
    <!-- Смена ника -->
    <div id="change-username-modal" class="vanish re-bg">
        <div class="block-re-name">
            <img id="close-change-username-modal" class="delete_re bnt-exit" width="40px" height="40px" src="/content/images/icons/next.svg" />
            <div class="full-block-text"><a class="texta re-head">Сменить никнейм</a><br><a class="textb">
                Сменить свой никнейм за {{ username_change_price }} <img class="coin-icon"
                                                         src="/content/images/icons/cristal.svg"><br>Менять никнейм можно раз в сутки.</a>
            </div>
            <input id="change-username-current-password-field" class="inputy-block inputy" name="password" placeholder="Текущий пароль" required="" type="password" />

            <input id="change-username-new-username-input" autofocus="" class="inputy-block inputy" name="new-user" placeholder="Новый логин" required="" type="text" value="" />

            <div class="tooltip-red-left flash-error" id="change-username-new-username-error-block">
                <element width="150px;">
                    <div id="change-username-new-username-error" class="tooltip-text-cntr"></div>
                </element>
            </div>

            <button id="confirm-nickname-change-btn" class="HOVER re-enter" disabled="disabled"><span></span>
                <text class="textb">Оплатить и продолжить</text>
            </button>
            <button id="close-change-username-modal-button" class="HOVER re-enter-next delete_re"><span
                    style=" background:var(--carmine-dark);"></span>
                <text class="textb">Закрыть</text>
            </button>
        </div>
    </div>
    <!-- Смена почты-->
    <div id="change-email-modal" class="vanish re-bg">
        <div class="block-re-mail">
            <img id="close-change-email-modal" class="delete_re bnt-exit" width="40px" height="40px" src="/content/images/icons/next.svg" />
            <div class="full-block-text"><a class="texta re-head">Сменить адрес почты</a></div>

            <input id="change-email-current-password-field" class="inputy-block inputy" name="password" placeholder="Текущий пароль" required="" type="password" />

            <input id="change-email-new-email-input" autofocus="" class="inputy-block inputy" name="new-mail" placeholder="Новая почта" required="" type="text" value="" />

            <div class="tooltip-red-left flash-error" id="change-email-new-email-error-block">
                <element width="150px;">
                    <div id="change-email-new-email-error" class="tooltip-text-cntr"></div>
                </element>
            </div>

            <button id="change-email-btn" class="HOVER re-enter"><span></span>
                <text class="textb">Продолжить</text>
            </button>
            <button id="close-change-email-modal-button" class="HOVER re-enter-next delete_re"><span
                    style=" background:var(--carmine-dark);"></span>
                <text class="textb">Закрыть</text>
            </button>
        </div>
    </div>
    <!-- Смена пароля-->
    <div id="change-password-modal" class="vanish re-bg">
        <div class="block-re-password">
            <img id="close-change-password-modal" class="delete_re bnt-exit" width="40px" height="40px" src="/content/images/icons/next.svg" />
            <div class="full-block-text"><a class="texta re-head">Сменить пароль</a><br><a class="textb">Минимум 8
                знаков. Хотя бы одна <br> заглавная, одна строчная и одна цифра.</a></div>
            <input id="change-password-current-password-input" class="inputy-block inputy" name="password" placeholder="Текущий пароль" required="" type="password" />
            <input id="change-password-password-input" class="inputy-block inputy" name="new-password" placeholder="Новый пароль" required="" type="password" />
            <div class="tooltip-red-left flash-error" id="change-password-password-error-block">
                <element width="150px;">
                    <div id="change-password-password-error" class="tooltip-text-cntr"></div>
                </element>
            </div>
            <input id="change-password-repeat-password-input" class="inputy-block inputy" name="re-new-password" placeholder="Повторите пароль" required="" type="password" />
            <div class="tooltip-red-left flash-error" id="change-password-repeat-password-error-block">
                <element width="150px;">
                    <div id="change-password-repeat-password-error" class="tooltip-text-cntr"></div>
                </element>
            </div>
            <button id="change-password-button-submit" class="HOVER re-enter"><span></span>
                <text class="textb">Продолжить</text>
            </button>
            <button id="close-change-password-modal-button" class="HOVER re-enter-next delete_re"><span
                    style=" background:var(--carmine-dark);"></span>
                <text class="textb">Закрыть</text>
            </button>
        </div>
    </div>
    <!-- HD подписка -->
    <div id="buy-hd-modal" class="vanish re-bg">
        <div class="block-don-hd">
            <img id="close-buy-hd-modal" class="delete_re bnt-exit" width="40px" height="40px" src="/content/images/icons/next.svg" />
            <div class="full-block-text"><a class="texta re-head">{% if user.hd_active %}Продлить{% else %}Активировать{% endif %}
                HD-подписку</a><br><a class="textc">HD-подписка
                позволяет загружать HD-скины. Для загрузки<br>HD-плащей также нужно иметь
                группу не ниже Premium</a></div>
            <div class="formdown subscription">
                <div class="sub-drop dropdown">
                    <div class="select select-hd"><span>Выберите период подписки (жмяк)</span>
                        <img class="coin-icon" src="/content/images/icons/cristal.svg">
                    </div>
                    <input id="sub-hd-fld" name="sub-hd" type="hidden" />
                    <ul class="dropdown-menu">
                        {% for hd in hd_opts %}
                        <li data-value="{{ hd.value }}">{{ hd.name }} за {{ hd.price }}<img class="coin-icon" src="/content/images/icons/cristal.svg"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <button id="hd-sub-btn" class="HOVER re-enter"><span></span>
                <text class="textb">Продолжить</text>
            </button>
            <button id="close-buy-hd-modal-button" class="HOVER re-enter-next delete_re"><span style=" background:var(--carmine-dark);"></span>
                <text
                        class="textb">Закрыть
                </text>
            </button>
        </div>
    </div>

</div>

<main class="home">
    <div class="row  clearfix">
        <!--
        <div id='banner-2fa' class="block-banner background-banner">
            <img src="/content/images/icons/2fa.svg" class="icon-banner">
            <div class="block-text-banner">
                <div class="text-banner textb">
                    Включи 2fa "двойную аутентификацию" и получи 50 кристалов на счёт
                </div>
            </div>
            <button class="HOVER btn-banner">
                <span class=""> </span>
                <text class="textb">
                    Включить
                </text>
            </button>
        </div>

        <div id="banner-launcher" class="block-banner background-banner">
            <img src="/content/images/icons/launcher.svg" class="icon-banner">
            <div class="block-text-banner">
                <div class="text-banner textb">
                    Скачай новый лаунчер и получи 50 кристалов на счёт
                </div>
            </div>
            <button class="HOVER btn-banner">
                <span class=""> </span>
                <text class="textb">
                    Скачать
                </text>
            </button>

        </div>
        -->

        <!-- Банер -->
        <!--
        <div id="banner-nickname-token" class="block-banner background-banner">
            <img src="/content/images/icons/nickname-token.svg" class="icon-banner">
            <div class="block-text-banner">
                <div class="text-banner textb">
                    У вас есть бесплатный токен на смену ника
                </div>
            </div>
            <button class="HOVER btn-banner">
                <span class=""> </span>
                <text class="textb">
                    Сменить
                </text>
            </button>

        </div>
        -->
        <!-- Скин -->
        <div class="block-vertical left-block background-cabinet-1">

            <div class="skin-block" id="skin-block">
                <canvas id="skin_container"></canvas>
                <div class="skin-gender-box-one tooltip-left">
                    <element width="150px;">Steve модель</element>
                    <button class="skin-gender-btn" id="steve-skin-button"> <img src="/content/images/icons/steve.svg"/></button></div>
                <div class="skin-gender-box-two tooltip-left">
                    <element width="150px;">Alex модель</element>
                    <button class="skin-gender-btn" id="alex-skin-button"><img src="/content/images/icons/alex.svg"/></button></div>


                <img draggable="false" class="skin-icon" src="/content/images/icons/skin-arm.svg">
            </div>

            <button id="change-skin-button" class="HOVER load-skin">
                <span></span>
                <text class="textb">Сменить скин</text>
            </button> {% if user.donate_group
            < 5 %} <div class="tooltip cloak-tooltip">
                <element width="150px;">Требуется привилегия Premium</element>
                <button id="change-cape-button" class="HOVER load-cloak" style="cursor: not-allowed;" disabled="disabled">
                    <span style="background: rgb(162,33,33);"></span>
                    <text type="button" data-type="info"
                          data-text="Плащ можно установить имея привилегию не ниже Premium"
                          class="textb disable-selection">Сменить плащ
                    </text>
                </button>
        </div>
        {% else %}
        <div class="tooltip cloak-tooltip">
            <button id="change-cape-button" class="HOVER load-cloak">
                    <span></span>
                    <text class="textb">Сменить плащ</text>
                </button>
        </div>
        {% endif %}

    </div>
    <!-- Баланс -->

    <div class="block right-block background-cabinet-2">

        <div class="balance textc">
            <div class="coin tooltip">
                <element width="150px;">Донат валюта</element>
                {{ user.gold }}<img class="coin-icon" src="/content/images/icons/cristal.svg">
            </div>

            <div class="coin tooltip">
                <element width="150px;">Подарочная валюта</element>
                {{ user.bonuses }}<img class="coin-icon" src="/content/images/icons/coin.svg">
            </div>
        </div>

        <div class="donation-option-block">

            <div class="option-block">

                <div class="option-long-text textc" id="user-display-group">
                    Ваши группы:
                </div>
            </div>


            <div class="option-block">
                <button id="change-username-button" class="HOVER option-btn">
                        <span></span>
                        <text class="textb">Сменить ник</text>
                    </button>

                <div class="option-text textc">
                    {{ user.username }}
                </div>
            </div>

            <div class="option-block">
                <button id="buy-hd-button" class="HOVER option-btn">
                        <span></span>
                        <text class="textb">HD подписка</text>
                    </button>

                <div class="option-text textc">
                    {% if user.hd_active %}Истекает {{ user.hd_expires|date("Y-m-d H:i:s") }}{% else %}Не активна{% endif %}
                </div>
            </div>

            <div class="option-block">
                <button id="change-color-button" class="HOVER option-btn">
                        <span></span>
                        <text class="textb">Цвет ника</text>
                    </button> {% if user.donate_group
                < 8 %} <div class="option-text textc">
                    Доступно от MVP
            </div>
            {% else %}
            <div class="option-text textc" style="color: #fff;">
                Доступно
            </div>
            {% endif %}
        </div>

        <div class="option-block">
            <button onclick="window.location.href='/donate'" class="HOVER option-long-btn">
                        <span></span>
                        <text class="textb">Пополнить баланс</text>
                    </button>
        </div>
    </div>

    <div class="donate-mein-content">
        <div class="balance-line-mein">

            <img class="donate-dot-status-icon" src="/content/images/icons/donate-status.svg" />

            <div class="balance-line-box">
                <div class="balance-line"> </div>
            </div>

            <img class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
        </div>

        <div class="balance-info-box">
            <div style="text-align: left;  width: 20%;" class="textc balance-info-text" id="old-group"></div>
            <div style="text-align: center;  width: 60%;" class="textc balance-info-text" id="crystals-count">Loading</div>
            <div style="text-align: right;  width: 20%;" class="textc balance-info-text" id="next-group"></div>
        </div>
    </div>

    </div>

    <!-- Настройки -->

    <div class="block right-block background-cabinet-3">

        <div class="settings-block-fix">
            <div class="settings-block">

                {% if user.otp_enabled %}
                <button disabled="disabled" class="HOVER settings-bnt">
                        <span></span>
                        <text class="textb">2FA</text>
                    </button> {% else %}
                <button id="change-2fa-button" class="HOVER settings-bnt">
                        <span></span>
                        <text class="textb">2FA</text>
                    </button> {% endif %}

                <div class="settings-block-text textc">{% if user.otp_enabled %}Подключено{% else %}Не подключено{% endif %}</div>
            </div>

            <div class="settings-block ">

                <button id="change-email-button" class="HOVER settings-bnt">
                        <span></span>
                        <text class="textb">Сменить почту</text>
                    </button>
                <div class="settings-block-text textc">{{ user.email }}</div>
            </div>

            <div class="settings-block ">

                <button id="change-password-button" class="HOVER settings-bnt">
                        <span></span>
                        <text class="textb">Сменить пароль</text>
                    </button>
                <div class="settings-block-text textc">Меняй почаще!</div>
            </div>
        </div>
        <!-- 
        <div class="settings-block-bottom ">
            <button style="width: 435px;bottom: 15px;left: 15px;" id="change-session-button" class="HOVER settings-bnt-bottom">
                    <span></span>
                    <text class="textb">История активности</text>
                </button>
        </div>
 -->
        <div class="settings-block-bottom ">
            <button style="width: 200px;bottom: 15px;left: 465px;" id="logout-button" class="HOVER settings-bnt-bottom">
                    <span></span>
                    <text class="textb">Выйти</text>
                </button>
        </div>


    </div>
    </div>
</main>
<script>
    const user = {
        uuid: '{{ user.uuid }}'
    };
</script>
<script type="text/javascript" src="/content/js/skinview3d.bundle.js"></script>
<script type="text/javascript">
    window.skin_model = '{{ user.skin_model }}' === '1';
</script>
<script type="text/javascript" src="/content/js/cabinet.js"></script>
<script type="text/javascript" src="/content/js/tray.js"></script>
<script type="text/javascript">
    $.post('/api/cabinet/hot_data', {
        username: '{{ user.username }}'
    }, (data) => {
        if (!data.success) {
            displayError(data.error);
            return;
        }
        var res = data.result;
        var css = ((+res.percent) * 100) + '%';
        $('#old-group').text(res.display_donate_group.name);
        $('#next-group').text(res.next_group_name);
        $('#crystals-count').text('Кристаликов: ' + res.total_gold + ' из ' + res.next_gold_group);
        $('.balance-line').css('width', css);
        $('#user-display-group').append('<text style="color:#' + res.display_staff_group.color + ';">' + res.display_staff_group.name + '</text> / <text style="color:#' + res.display_donate_group.color + ';">' + res.display_donate_group.name + '</text>' + (res.display_donate_group.plus ? '<text style="color:#ff2e2e">+</text>' : ''));
    });
</script>
{% endblock %}