                /*
###########################################
###########################################
###########################################
###########################################
#############|#############//|#############
###########|///|#########|/////|###########
#########|///////|#####|/////////|#########
#######|///////////|###|///////////########
#####|///////////////|###|//////|##//|#####
###|///////////////////|###|//|##|/////|###
#|///////////////////////|######/////////|#
#|////////////////////////|####|//////////|
###|////////////////////|##//|###|//////|##
#####|////////////////|##//////|###///|####
#######|////////////|##//////////|#########
#########|////////|###||//////////|########
###########|////|#######||//////|##########
#############||###########/|//|############
############################|##############
###########################################
################CRISTALIX##################
###########################################
*/
                
                 :root {
                    --black: #ffffff;
                    --soft-gray: #f0f0f0;
                    --gray: #e9e9e9;
                    --graphite: #d7d7d7;
                    --light-gray: #d3d3d3;
                    --gray-line: #c2c2c2;
                    --gray-dark: #e6e6e6;
                    --white: #000000;
                    --cyan-black: #ffffff;
                    --brand-color: #367adc;
                    --brand-color-scroll: rgba(24, 132, 237, 0.24);
                    --brand-color-dark: #2f68bb;
                    --cookie-panel: #3681ee;
                    --carmine-dark: #c02330;
                    --mustard: #D4A11F;
                    --green: #239544;
                    --light-selection: #bcd7ff;
                    --placeholder: #797979;
                    --vanish: rgba(255, 255, 255, 0);
                    --light-vanish: rgba(0, 0, 0, 0);
                    --color-article-hover: rgba(0, 0, 0, 0.1);
                    --color-article-active: rgba(0, 0, 0, 0.2);
                    --blackout: rgba(235, 235, 235, 0.94);
                    --substrate: rgba(0, 0, 0, 0.6);
                    --links: rgba(0, 0, 0, 0.72);
                    --down: #616161;
                    /*Настройки*/
                    --bg-settings: rgba(242, 237, 255, 0.77);
                    --bg-settings-border: rgba(201, 135, 255, 0.14);
                    /*Донат*/
                    --bg-donate: rgba(255, 230, 230, 0.42);
                    --bg-donate-border: rgb(255, 135, 135, 0.10);
                    /*Главная*/
                    --bg-general: rgba(231, 231, 243, 0.42);
                    --bg-general-border: rgb(135, 178, 255, 0.10);
                    /*Сервера*/
                    --bg-servers: rgba(255, 255, 255, 0.42);
                    --bg-servers-border: rgba(255, 255, 255, 0.10);
                    --line-servers: rgba(0, 0, 0, 0.39);
                    /*Минискролл*/
                    --mini-scroll: rgba(0, 0, 0, 0.24);
                    /*Тени*/
                    --shadows: none;
                    --shadows-lite: none;
                    --shadows-vanish: none;
                }
                
                .icon-theme,
                .logo-m,
                .news-blink,
                .menu-logo,
                .play-icon-animation,
                .error-roket,
                .admin-img,
                .bnt-theme {
                    filter: invert(1);
                }
                
                .flash-info img {
                    filter: invert(1);
                }
                
                .skin-gender-btn img {
                    filter: invert(1);
                }
                
                .donate-dot-status-icon,
                .donate-status-icon {
                    filter: invert(1);
                }
                
                .qr-code {
                    filter: invert(0);
                }
                /*
var(--shadows-lite);
var( --shadows-vanish);
var(--bg-settings);
var(1231);
var(--graphite);
var(--shadows);
var(--vanish);
var(--white);
var(--black);

var(--carmine-dark);
var(--placeholder);
var(--green);
var(--cyan-black);


                .icon-theme,
                .logo-m,
                .menu-img,
                .blink-nav,
                .menu-logo,
                .blink-article,
                .server-icon,
                .logo-vk,
                .logo-discord,
                .news-blink,
                .bnt-exit,
                .error-roket,
                .icon-access,
                .admin-img,
                .donate-icon,
                .donate-dot-status-icon,
                .donate-status-icon,
                .launcher-icon,
                .play-icon-animation,
                .server-logo {
                    filter: invert(1);
                }
                
                .flash-info img {
                    filter: invert(1);
                }
                
                .skin-gender-btn img {
                    filter: invert(1);
                }

*/
                
                .background-donate-1 {
                    background-image: url("/content/images/minese/light/donate.png");
                    background-size: 1390px 430px;
                    background-position: 0px 0px;
                }
                
                .background-donate-2 {
                    background-image: url("/content/images/minese/light/donate2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                    padding: 20px;
                }
                
                .background-donate-3 {
                    background-image: url("/content/images/minese/light/donate3.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-banner {
                    background-image: url("/content/images/minese/light/banner.png");
                    background-size: 1390px 120px;
                    background-position: 1390px;
                }
                
                .background-home {
                    background-image: url("/content/images/minese/light/home.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-home2 {
                    background-image: url("/content/images/minese/light/home2.png");
                    background-size: 680px 890px;
                    background-position: 0px 0px;
                }
                
                .background-home3 {
                    background-image: url("/content/images/minese/light/home3.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-home4 {
                    background-image: url("/content/images/minese/light/home4.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-home5 {
                    background-image: url("/content/images/minese/light/home5.png");
                    background-size: 1390px 430px;
                    background-position: 0px 0px;
                }
                
                .background-minigames-1 {
                    background-image: url("/content/images/minese/light/minigames.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-minigames-2 {
                    background-image: url("/content/images/minese/light/minigames2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-divinepvp-1 {
                    background-image: url("/content/images/minese/light/divinepvp.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-divinepvp-2 {
                    background-image: url("/content/images/minese/light/divinepvp2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-skyvoid-1 {
                    background-image: url("/content/images/minese/light/skyvoid.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-skyvoid-2 {
                    background-image: url("/content/images/minese/light/skyvoid2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-magica-1 {
                    background-image: url("/content/images/minese/light/magica.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-magica-2 {
                    background-image: url("/content/images/minese/light/magica2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-neotech-1 {
                    background-image: url("/content/images/minese/light/neotech.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-neotech-2 {
                    background-image: url("/content/images/minese/light/neotech2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-technomagic-1 {
                    background-image: url("/content/images/minese/light/technomagic.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-technomagic-2 {
                    background-image: url("/content/images/minese/light/technomagic2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-pixelmon-1 {
                    background-image: url("/content/images/minese/light/pixelmon.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-pixelmon-2 {
                    background-image: url("/content/images/minese/light/pixelmon2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-rpgparfeon-1 {
                    background-image: url("/content/images/minese/light/rpgparfeon.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-rpgparfeon-2 {
                    background-image: url("/content/images/minese/light/rpgparfeon2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-minez-1 {
                    background-image: url("/content/images/minese/light/minez.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-minez-2 {
                    background-image: url("/content/images/minese/light/minez2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-galax-1 {
                    background-image: url("/content/images/minese/light/galax.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-galax-2 {
                    background-image: url("/content/images/minese/light/galax2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-launcher-1 {
                    background-image: url("/content/images/minese/light/launcher.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-launcher-2 {
                    background-image: url("/content/images/minese/light/launcher2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-play-1 {
                    background-image: url("/content/images/minese/light/play.png");
                    background-size: 1390px 430px;
                    background-position: 0px 0px;
                }
                
                .background-play-2 {
                    background-image: url("/content/images/minese/light/play2.png");
                    background-size: 1390px 430px;
                    background-position: 0px 0px;
                }
                
                .background-play-3 {
                    background-image: url("/content/images/minese/light/play3.png");
                    background-size: 1390px 430px;
                    background-position: 0px 0px;
                }
                
                .background-play-4 {
                    background-image: url("/content/images/minese/light/play4.png");
                    background-size: 1390px 430px;
                    background-position: 0px 0px;
                }
                
                .background-error-1 {
                    background-image: url("/content/images/minese/light/error.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-error-2 {
                    background-image: url("/content/images/minese/light/error1.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-error-3 {
                    background-image: url("/content/images/minese/light/error2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-login {
                    padding: 20px;
                    height: 350px;
                    background-image: url("/content/images/minese/light/log1.png");
                    background-size: 680px 350px;
                    background-position: 0px 0px;
                }
                
                .background-login:hover {
                    background-size: 780px 401px;
                    background-position: -50px -25px;
                }
                
                .background-register {
                    padding: 20px;
                    height: 590px;
                    background-image: url("/content/images/minese/light/reg1.png");
                    background-size: 680px 650px;
                    background-position: 0px 0px;
                }
                
                .background-register:hover {
                    background-size: 780px 746px;
                    background-position: -50px -48px;
                }
                
                .background-recovery-1 {
                    padding: 20px;
                    height: 230px;
                    background-image: url("/content/images/minese/light/rec1.png");
                    background-size: 680px 230px;
                }
                
                .background-recovery-1:hover {
                    background-size: 780px 264px;
                    background-position: -50px -17px;
                }
                
                .background-recovery-2 {
                    padding: 20px;
                    height: 330px;
                    background-image: url("/content/images/minese/light/rec2.png");
                    background-size: 680px 330px;
                }
                
                .background-recovery-2:hover {
                    background-size: 780px 379px;
                    background-position: -50px -24px;
                }
                
                .background-cabinet-1 {
                    background-image: url("/content/images/minese/light/cab1.png");
                    background-size: 680px 890px;
                    background-position: 0px 0px;
                }
                
                .background-cabinet-2 {
                    background-image: url("/content/images/minese/light/cab2.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-cabinet-3 {
                    background-image: url("/content/images/minese/light/cab3.png");
                    background-size: 680px 430px;
                    background-position: 0px 0px;
                }
                
                .background-info {
                    background-image: url("/content/images/minese/light/info.png");
                    background-size: cover;
                }
                
                .register-block {
                    background-image: url("/content/images/minese/light/reg1.png");
                }
                
                .access-block {
                    background-image: url("/content/images/minese/light/home3.png");
                }
                
                .widget-head-vk {
                    background-image: url("/content/images/minese/light/vk-bg.png");
                }
                
                .widget-head-discord {
                    background-image: url("/content/images/minese/light/discord-bg.png");
                }